
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@LukeMaciak">
<meta name="twitter:creator" content="@<%=@username%>"/>
<meta name="twitter:url" content="http://dontspoil.us/<%=@id%>"/>
<meta name="twitter:title" content="Spoiler for <%=@for%>"/>
<meta name="twitter:description" content="<%=h@spoiler_text%>"/>
<% if @img_url %>
<meta name="twitter:image:src" content="<%=@img_url%>">
<% end %>

<div class="row">

    <div class="span6 well well-large">
        <h3>Spoiler for <%=@for%></h3>
        <hr/>

        <p class="lead spoiler">
            <i class="icon-quote-left"></i>
        
                <em>
                    <%=@spoiler%>
                </em>

            <i class="icon-quote-right"></i>

        </p>

        <hr/>
        <p>
            <small class="muted">Created on <%=@created%>.</small>
        </p>
    </div>

    <div class='span3 well well-large'>
        <h3>Created By:</h3>

        <img class="img-polaroid pull-left user-pic" src="<%=@picture%>"/>
        
        <div>
            <strong><%=@name%></strong><br/>
            <a href="https://twitter.com/<%=@username%>">@<%=@username%></a>
        </div>
    </div>


</div>
